
header {
    background-image: linear-gradient(#3399FF, #66FFFF);
}

footer {
    background-image: linear-gradient(#3399FF, #000000);
}


ul.navbar-nav li a {
    font-weight: bold;

}
nav{
    border-bottom: 2px solid #000000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.social-icon {
    position: relative;
    display: inline-block;
    margin: 20px;
    transition: transform 0.3s;
}

/* Estilos para el nombre de la red social */
.social-icon .icon-name {
    position: absolute;
    bottom: -20px;
    /* Colocar el nombre debajo de la imagen */
    left: 50%;
    transform: translateX(-50%);

    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    /* Inicialmente oculto */
    transition: opacity 0.3s;
}

/* Estilos al pasar el mouse sobre la imagen */
.social-icon:hover {
    transform: scale(1.1);
    /* Hacer la imagen un poco más grande */
}

/* Estilos al pasar el mouse sobre el nombre de la red social */
.social-icon:hover .icon-name {
    opacity: 1;
    /* Mostrar el nombre con una transición de opacidad */
}

#scrollToTop {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

#scrollToTop:hover {
    background-color: #0056b3;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
.embed-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}


.embed-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

th{
    text-align: center;
}
